.movie-card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}

.movie-card:hover {
  cursor: pointer;
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.movie-poster {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
}

.vote-count{
  color: black; 
  font-size: 0.9rem; 
}

.vote-section {
  display: flex;         
  align-items: center;   
  justify-content: center; 
}

.vote-section img {
  height: 31px;  
  width: 30px;     
  cursor: pointer;      
  font-size: 20px;      
}

@keyframes shrink {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(0.8); 
  }
  100% {
    transform: scale(1); 
  }
}


.vote-section img:active {
  animation: shrink 0.3s ease; 
}

.vote-section p {
  margin: 0;             
  font-weight: bold;     
  font-size: 18px;       
}
