* {
  margin: 0;
  padding: 0;
  }

body {
  background-color: #3e49b1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

h1 {
  color: white;
  font-size: 56px;
  letter-spacing: 5px;
}

p {
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem;
}

.header img {
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
  background-color: #97c3ec;
}

.search-container img {
  margin-left: 10px;
  margin-right: 3px;
  height: 40px;
}

.search-bar {
  margin-right: 15px;
  padding-right: 5px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}